@charset "UTF-8";

* { /*Cola todas as minhas caixas*/
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
}
header {
    text-align: center;
    padding: 40px;
    color: whitesmoke;
}

header.imageBibli {
    background-size: cover;
}
header#imagemBiblio {
    background-image: url('imagens/biblioteca.jpg');
    background-position: right center;
    box-shadow: 5px 5px 15px 20px black inset;
}
header {
    min-height: 350px;
}
header h1 {
    text-align: center;
    padding-top: 20vh;
}

nav {
    box-shadow: 5px 0px 10px 5px inset;
    background-color: rgba(4, 18, 99, 0.863);
    padding: 10px;
    text-align: center;
}
nav > a{
    padding: 3px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(247, 247, 247);
}
nav a:hover{
    background-color: #6675f5;
    color: #adf1c2;
    border-radius: 5px;
    transition-duration: 0.9s;
}

article > h2,p {
    margin-top: 20px;
    margin-bottom: 40px;

}

#image{
    background-size: cover;
    background-image: url('imagens/ima01.jpg');
}

.ima{
    background-size: cover;
    background-attachment: fixed;
}

main {
    max-width: 1080px;
    min-width: 280px;
    margin: auto;
    background-color: rgba(3, 3, 51, 0.863);
    box-shadow: 5px 0px 10px 5px inset;

}
main h2, p{
    color: whitesmoke;
    text-align: center;
}

div {
    display: inline-block;
    padding-left: 20px;
}

.fundDiv{ 
    margin-left: -1px;
    padding-bottom: 50px; /*É o espaço que terá das minhas imagens de capa até a borda final do meu main.*/
}

img.imagensAnc {
    width: 100%; /*Faz com que a minha imagen não transborde para fora da section.*/
    height: 200px;
    text-align: center;
}

article {
    text-align: left;
    margin: 10px;
    padding: 5px;
}

aside {
    margin-top: 35px;
    padding: 28px;
    border-radius: 5px;
    color: black;
}

aside > ul {
    list-style-type: inside; /*Coloca tudo da lista dentro do bloco aside.*/
    columns: 2px;
    list-style-type: '\2714\00A0';
}

/* Footer
_____________________*/

footer {
    width: 100%;
    background-color: rgba(14, 22, 70, 0.863);
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}
li > img, p {
    border-radius: 2px;

}
.coluna {
    width: 45%;
}

.coluna > p {
    text-align: justify;
    text-indent: 20px;
}

h2 {
    padding-top: 10px;
    color: rgb(34, 248, 6);
}

.autorais {
    margin: auto;
}
